<!DOCTYPE html>
<html>
  <head>
    <head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>Cilph</title>
    	<link rel="stylesheet" type="text/css" href="main.css">
    	<!-- <link rel="shorcut icon" type="image/jpg" href="images/emoji.jpg"> -->
    	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    	<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Berkshire+Swash|Cinzel|Cookie|Dancing+Script|Orbitron|Pacifico|Permanent+Marker|Rajdhani|Ranga" rel="stylesheet">
    </head>
  </head>
  <body>
    <!-- <div id="page-container"> -->
      <header>
  			<a href="#">
  				<div class="heading-div">
  					<h1>Cil<span>ph</span></h1>
            <h3>Software For A New World</h3>
  					<h2>908.546.0561</h2>
  				</div>
  			</a>

  			<nav class="nav-wrapper">
  				<ul>
  					<a href="#"><li class="main-list">HOME</li></a>
            <a href="#"><li class="main-list">CONTACT</li></a>
  					<a href="#"><li class="main-list">SERVICES</li></a>
  					<a href="#"><li class="main-list">TECHNOLOGIES</li></a>
  					<a href="#"><li class="main-list">ABOUT</li></a>
  					<!-- <a href="file:///Users/KupidoExportLLC/Desktop/web-dev-projects/my-portfolio/dream-journal/dreams.html"><li class="main-list">DREAM JOURNAL</li></a> -->
  				</ul>
  			</nav>
  		</header>
  	<!--END OF HEADER-->
    <!-- </div> -->
  </body>
</html>
