<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
    <link rel="stylesheet" href="contact-body.css">
    <link rel="stylesheet" href="second.css">
  </head>
  <body>
    <div id="page-container">
      <header>
        <% include partials/header.ejs %>
      </header>

      <div id= "body-container">
        <section id="main-container">

          <!-- <article id="contact-info"> -->
            <div id="contact-inner-text">
              <h1>Cilph Engineering</h1>
              <h2>Software For A New World</h2><br>

              <p id="text1">
                At Cilph, we strive to exceed expectations.
                We'd love to answer your questions. We have an average
                response rate of 5 to 20 minutes. Our promise to you
                is that you'll recieve a response within the next business
                day at the latest.
             </p><br>

             <p id="text2">
                Office: 908.546.0561 <br>
                Email: office@cilph.com <br>

                You may also contact us via <a href="https://www.linkedin.com/in/jahaziel-vazquez/">Linked in</a>
             </p>

           </div>
          <!-- </article> -->

          <form type="SUBMIT" action="/contact" id="form-main">
            <h1>We Want To Hear From You!</h1><br><br>
            <label for="name">Name</label><br>

            <div id="names">
              <div id="name1" class="names">
                <input type="text" name="name" value="">
                <p>First</p>
              </div>

              <div id="name2" class="names">
                <input type="text" name="last" value="">
                <p id="last">Last</p>
              </div>
            </div><br><br>

            <label for="email">Email</label><br>
            <input type="text" name="email" value=""><br><br>

            <p>Message</p><br>

            <textarea name="message"></textarea><br><br>

            <input type="SUBMIT" id="submit" value="Contact">

          </form>

        </section>
      </div>

      <footer>
        <% include partials/footer.ejs %>
      </footer>
      <% include partials/copyright.ejs %>
    </div>
  </body>
</html>
