<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cilph</title>
	<link rel="stylesheet" type="text/css" href="main.css">
	<!-- <link rel="shorcut icon" type="image/jpg" href="images/emoji.jpg"> -->
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Berkshire+Swash|Cinzel|Cookie|Dancing+Script|Orbitron|Pacifico|Permanent+Marker|Rajdhani|Ranga" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=BioRhyme+Expanded|Cinzel|Josefin+Slab|Marcellus+SC|Righteous|Syncopate" rel="stylesheet">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>

<body>
	<div id="page-container">
		<header>
			<% include partials/header.ejs %>
		</header>
	<!--END OF HEADER-->

		<section id="main-section-wrapper">
			<div class="welcome-wrapper">
				<p class="greeting">EFFICIENT, SIMPLE, ELEGANT...</p>
			</div>
		</section>
	<!--END OF MAIN SECTION-->

		<section id="bio">
			<div id="vision-container">
				<h2 class="bio-heading">OUR VISION!</h2>
				<p class="bio-text">
					 Helping shape the future, through modern, inovative technology!<br>
					<a href="#"><input type="button" value="MORE" class="more-button"></a>
				</p>
			</div>
		</section>
	<!--END OF BIO SECTION-->

		<section id="victory-background">
			<div class="possible">
				<h2>SEE WHAT'S <span>POSSIBLE!</span></h2>
				<a href="#"><input type="button" value="MORE" class="more-two"></a>
			</div>
		</section>
	<!--END OF PORTFOLIO SECTION-->



		<footer>
			<% include partials/footer.ejs %>
		</footer>

		<% include partials/copyright.ejs %>
	</div>
</body>
</html>
